 html, body {
     height: 100%;
     margin: 0;
     padding: 0;
}
 body {
     padding: 0 !important;
     background-color: #ecffee
}
 table {
     font-size: 12px;
}
/* Size and shape of the maps */
 #map {
     min-width: 1050px!important;
     min-height: 600px !important;
     max-width: 800px!important;
     margin-left: auto!important;
     margin-right: auto!important;
     margin-top: 3%!important;
}
/* End of maps */
/* radio Button */
 .input-buton{
     display: flex;
     justify-content: center;
     margin: 20px;
     min-width: 1020px;
}
 #hotel{
     margin-left: 10px;
     margin-right: 10px;
}
 #restaurant{
     margin-left: 10px;
     margin-right: 10px;
}
 #tourist{
     margin-left: 10px;
     margin-right: 10px;
}

input[type='radio'] {
     -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      outline: none;
      border: 2px solid blue;
}

input[type='radio']:before {
      content: '';
      display: block;
      width: 50%;
      height: 50%;
      margin: 25% auto;
      border-radius: 50%;
}
input[type="radio"]:focus {
      outline: none;
}

input[type="radio"]:checked:before {
      background: green;
}
input[type=radio]{
      margin: 0px 10px 0px!important;
}
input[type="radio"]:checked {
      border-color:green;
}
    
.input-buton>label{
      display: flex;
      justify-content: center;
      font-weight: normal;
}
/* End radio Button */
/* option city */
 #controls {
     -webkit-box-flex: 1 1 140px;
     -ms-flex: 1 1 140px;
     flex: 1 1 140px;
     width: 200px;
     height: 50px;
     margin: auto;
}
 #city {
     width: 100%;
     height: 40px;
     border-radius: 10px;
     border: 1px solid #057fd0;
}
 #listing {
     max-width: 700px!important;
     min-width: 1050px!important;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     padding-left: 50px;
     padding-right: 50px;
     height: 250px;
}
 #resultsTable {
     border-collapse: collapse;
     width: 100%;
}
 #findcity{
     max-width: 1200px!important;
     min-width: 1050px;
     margin-left: auto;
     margin-right: auto;
}
/* End option city */
/* Search for cities */
 #autocomplete {
     width: 100%;
     height: 40px;
     border-radius: 10px;
     border: 1px solid #057fd0;
}
 #locationField {
     -webkit-box-flex: 1 1 190px;
     -ms-flex: 1 1 190px;
     flex: 1 1 190px;
     width: 200px;
     height: 50px;
     margin: auto;
     margin-top: 5%;
}
/* End Search for cities */
/* info content */
 #rating {
     font-size: 13px;
     font-family: Arial Unicode MS;
}
 .iw_table_row {
     height: 18px;
}
 .iw_attribute_name {
     font-weight: bold;
     text-align: right;
}
 .iw_table_icon {
     text-align: right;
}
/* End info content */
/* Reset Button */
 .btn-Reset{
     float: right;
     margin: 0 30% auto;
     height: 80px;
     margin-top: -95px;
     width: 90px;
     border-radius: 12px;
     -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
     -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
     box-shadow: 0px 1px 0px 0px #f0f7fa;
     background-color: blue;
     -moz-border-radius:11px;
     -webkit-border-radius:6px;
     border-radius:10px;
     border:1px solid #057fd0;
     display:inline-block;
     cursor:pointer;
     color: white;
     font-family:Arial;
     font-size:15px;
     font-weight:bold;
     padding:6px 24px;
     text-decoration:none;
     text-shadow:0px -1px 0px #5b6178;
}
 .btn-Reset:hover {
     background-color:green;
}
/* End Reset Button */

/* Restrict screen size */

@media all and (max-width: 1024px) {
    .Main{
     display: none!important;
    }
    .restrict-screen{
     display: table!important;
     justify-content: center;
     margin-top: 10%;
    }
    h3{
     display: flex!important;
     justify-content: center;
    }
    img{
     display: block!important;
     justify-content: center!important;
     border-radius: 15px;
     margin-top: 10%;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
    }
}

/*ُ End Restrict screen size */